@media(max-width: 600px) {
    html, body {
        height: auto;
    }
    div#content {
        height: auto;
        max-height: 100%;
    }
    section#grid-menu {
        grid-template-columns: 1fr;
        width: 90%;
    }
}
@media(min-width: 541px) and (max-width: 800px) {
    section#grid-menu {
        grid-template-columns: 1fr 1fr;
    }
}