@font-face {
    font-family: 'Georgia';
    src: url('../fonts/georgia.ttf') format('truetype');
}

html {
    vertical-align: middle;
}

body {
    margin-top: 15%;
    background-color: rgba(162, 155, 254, 1.0);
    font-family: 'Georgia';
    display: grid;
    grid-gap: 3px;
    grid-template-columns: repeat(2, 1fr);
}

img#church-logo {
    display: block;
    width: 150px;
    height: 150px;
    margin: 0 auto;
}

h1#church-name {
    color: white;
    text-align: center;
}

section#grid-menu {
    display: grid;
    grid-gap: 8px;
    grid-template-columns: repeat(3, 1fr);
    max-width: 80%;
    margin: 0 auto;
}

button {
    position: relative;
    background-color: white;
    border: none;
    border-radius: 2px;
    color:rgba(97, 97, 177, 0.637);
    padding: 20px;
    text-align: center;
    font-size: 15px;
    text-decoration: none;
    cursor: pointer;
    overflow: hidden;
    transition-duration: .4s;
}

button:hover {
    color: white;
    background: rgba(108, 92, 231,1.0);
}
