@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Montserrat:300&display=swap');

body {
    background: linear-gradient(#9198e5, #ffffff, #9198e5);
    font-family: 'Montserrat', sans-serif;
}

div#content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 90vh;
}

img#church-logo {
    width: 250px;
    height: 250px;
    margin: 0 auto;
    display: block;
    filter: drop-shadow(10px 10px 3px rgba(108, 92, 231,1.0));
}

h1#church-name {
    color: rgba(108, 92, 231, 0.5);
    text-align: center;
}

section#grid-menu {
    display: grid;
    grid-gap: 8px;
    grid-template-columns: repeat(3, 1fr);
    margin: 0 auto;
}

button {
    position: relative;
    background-color: white;
    border: none;
    border-radius: 2px;
    color:rgba(97, 97, 177, 0.637);
    padding: 20px;
    text-align: center;
    font-size: 15px;
    text-decoration: none;
    cursor: pointer;
    overflow: hidden;
    transition: all 250ms ease-in;
}

button:hover {
    color: white;
    background: rgba(108, 92, 231,1.0);
}

