@font-face {
    font-family: 'Georgia';
    src: url('../fonts/georgia.ttf') format('truetype');
}

html, body {
    background-color: rgba(162, 155, 254, 1.0);
    font-family: 'Georgia';
}

div#content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 90vh;
}

img#church-logo {
    margin: 0 auto;
    display: block;
    filter: drop-shadow(10px 10px 3px rgba(108, 92, 231,1.0));
}

h1#church-name {
    color: white;
    text-align: center;
}

section#grid-menu {
    display: grid;
    grid-gap: 8px;
    grid-template-columns: repeat(3, 1fr);
    margin: 0 auto;
}

button {
    position: relative;
    background-color: white;
    border: none;
    border-radius: 2px;
    color:rgba(97, 97, 177, 0.637);
    padding: 20px;
    text-align: center;
    font-size: 15px;
    text-decoration: none;
    cursor: pointer;
    overflow: hidden;
}

button:hover {
    color: white;
    background: rgba(108, 92, 231,1.0);
}
