@media(max-width: 600px) {
    body {
        background: rgba(97, 97, 177, 0.637);
    }
    div#content {
        height: auto;    
    }
    h1#church-name {
        color: white;
    }
    section#grid-menu {
        grid-template-columns: 1fr;
        width: 100%;
    }
}
@media(min-width: 601px) and (max-width: 800px) {
    section#grid-menu {
        grid-template-columns: 1fr 1fr;
    }
}